<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
  <div class="d-flex flex-column border border-1 border-black rounded-5 p-5">
    <h1>Create a new Profile</h1>
    <%= simple_form_for @profile do |f| %>
      <%= f.text_field :name %>
      <%= f.submit %>
    <% end %>
  </div>

</div>
