<div class="container">
  <div class="row">
    <div class="col-3">
    <%= render 'chats/chats', chats: @chats %>
    </div>
    <div class="col-9">
      <div class="text-secondary">Select a contact to view details</div>
    </div>
  </div>
</div>
