<h1>Your Chats</h1>
<% if @chats.empty? %>
  <p>You don't have any chats yet.</p>
<% else %>
  <ul>
    <% @chats.each do |chat| %>
      <li><%= link_to chat.profile.name, chat_path(chat) %></li>
    <% end %>
  </ul>
<% end %>


<%= link_to 'Create New Profile', new_profile_path, class: 'btn btn-primary' %>
<%= link_to 'Search for Profiles', profiles_path, class: 'btn btn-primary' %>
