<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'chats/chats', chats: @chats %>
    </div>
    <div class="col-9">
      <%= render 'chats/details', chat: @chat %>
    </div>
  </div>
</div>
