.list-chat{
  background-color: #131313;
  display: flex;
  flex-direction: column;
  height: 90vh;

  .chat-units{
    overflow: scroll;
    display: flex-start;
  }

  p{
    color: white;
  }

  a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem;
    width: 100%;

    &:hover{
      color: yellow;
    }
  }

  .search-buttons{
    display: flex-end;
    margin-top: auto;

    a{
      background-color: yellow;
      color: black;
    }
  }
}
