.chat {
  background: black;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 82vw;

  h1 {
    border-bottom: 1px solid gray;
    margin-bottom: 1rem;
    padding: 1rem;
    color: white;
  }

  .messages {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
    color: white;
  }

  .message-info {
    text-align: center;
    width: 100%;
  }

  .message-content {
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    max-width: 70%;
    width: fit-content;
    word-wrap: break-word;
  }

  .message.sent {
    align-self: flex-start;
    background: blue;
    color: lightgray;
    border-radius: 15px;
    margin-bottom: 5rem;
    padding: 1rem;
  }

  .message.received {
    align-self: flex-end;
    background: gray;
    border-radius: 15px;
    margin-bottom: 5rem;
    padding: 1rem;
  }
}
